# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
*.log

*.json
!package.json
!package-lock.json
!config/deploy.example.json
*.geojson
*.csv
*.gpkg*
*.log

.DS_Store
node_modules/